body {
    display: block;
    margin: 0 auto;
    color: black;
    background-color: white;
    max-width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1%;
    margin-bottom: 2em;
    color: white;
    background-color: rgb(26, 25, 25);
}

header h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

header p {
    text-align: justify;
}

nav {
    margin-bottom: 1em;
}

nav li a {
    color: blueviolet;
    text-decoration: none;
}

nav li a:hover {
    color: black;
}

pre a {
    text-decoration: none;
}

main {
    margin-bottom: 30px;
}

main p {
    text-align: justify;
}

p a:hover {
    color: black;
}

a href {
    color: blueviolet;
}

footer a {
    color: blueviolet;
    text-decoration: none;
}

footer {
    padding: 1em;
}

footer p {
    text-align: center;
}

.green {
    color: rgb(50, 140, 50);
}

.red {
    color: tomato;
}

.link-site-dark-net {
    color: rgb(100, 100, 100);
}

.li-bridges {
    padding-bottom: 1%;
    font-size: 12px;
    color: rgb(39, 39, 39);
}

.link-youtube {
    color: blue;
}

.link-youtube:hover {
    color: black;
}